<% provide(:title, @recipe.title) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<ul>
  <%= @recipe.recipe_ingredients.each do |r_ingr| %>
    <li>
      <%= r_ingr.quantity %>
      <%= r_ingr.ingredient.name %>
      <span class= "mods">
        <i class="fa fa-comment mod-toggle"></i>
        <span class="suggestions">
          <ul>
            <% r_ingr.modifications.each do |mod| %>
              <li>
                <%= mod.suggestion %>
              </li>
            <% end %>
            <li>
              <span class="new-mod-form">
                <%= form_tag modifications_path do %>
                  <%= text_area_tag 'new_mod', nil, placeholder: "Submit a new modification.", class: "new-mod", id: r_ingr.id %>
                  <%= submit_tag 'Submit', class: "submit-mod btn btn-primary"%>
                <% end %>
              </span>
            </li>
          </ul>
        </span>
      </span>
    </li>  
  <% end %>
</ul>

<ol>
  <%= @recipe.steps.each do |step| %>
    <li>
      <%= step.instruction %>
      <span class="mods">
        <i class="fa fa-comment mod-toggle"></i>
        <span class="suggestions">
          <ul>
            <% step.modifications.each do |mod| %>
              <li>
                <%= mod.suggestion %>
              </li>
            <% end %>
            <li>
              <span class="new-mod-form">
                <%= form_tag modifications_path do %>
                  <%= text_area_tag 'new_mod', nil, placeholder: "Submit a new modification.", class: "new-mod", id: step.id %>
                  <%= submit_tag 'Submit', class: "submit-mod btn btn-primary"%>
                <% end %>
            </span>
            </li>
          </ul>
        </span>
      </span>
    </li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
