<% provide(:title, @recipe.title) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<ul>
  <% @recipe.recipe_ingredients.each do |r_ingr| %>
    <li>
      <%= r_ingr.quantity %>
      <%= r_ingr.ingredient.name if r_ingr and r_ingr.ingredient %>
      <%= render partial: "modifications", locals: { modifications: r_ingr.modifications, orig_id: r_ingr.id } %>
    </li>  
  <% end %>
</ul>

<ol>
  <% @recipe.steps.each do |step| %>
    <li>
      <%= step.instruction %>
      <%= render partial: "modifications", locals: { modifications: step.modifications, orig_id: step.id } %>
    </li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
